@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
  font-weight: 400, 600, 700;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
  --Green: hsl(75, 94%, 57%);
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  min-height: 100vh;
  font-family: Inter;
  background-color: var(--Off-Black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-Grey);
  border-radius: 10px;
  padding: 23px 40px;
}

.container img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  align-items: center;
  margin-bottom: 20px;
}

.container h2 {
  color: #fff;
  margin-bottom: 5px;
  font-size: 22px;
  text-align: center;
  font-weight: 400;
}
.container p {
  font-size: 14px;
  color: #dbd6d6;
  margin-bottom: 7px;
}

.info {
  margin-bottom: 23px;
}
.info p {
  color: var(--Green);
  font-size: 12px;
  text-align: center;
}

li {
  background-color: var(--Grey);
  margin-top: 10px;
  padding: 10px 70px;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
}

li:hover {
  background-color: var(--Green);
  color: var(--Off-Black);
}
